<!DOCTYPE html>
<html ng-app="listaTelefonica">
	<head>
		<title>Lista Telefônica</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="lib/css/stylesheet.css">
		<script src="lib/angular/angular.min.js"></script>
		<script>
			angular.module("listaTelefonica", []);
			angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
				$scope.app = "Lista Telefônica";
				$scope.contatos = [
					{nome: "Pedro", telefone: "99998888"},
					{nome: "Robson", telefone: "99997777"},
					{nome: "Crusoé", telefone: "99996666"},
				];

				$scope.operadoras = [
					{nome: "Oi", codigo: 14, categoria: "Celular"},
					{nome: "Vivo", codigo: 15, categoria: "Celular"},
					{nome: "Tim", codigo: 41, categoria: "Celular"},
					{nome: "GVT", codigo: 25, categoria: "Fixo"},
					{nome: "Embratel", codigo: 21, categoria: "Fixo"},
				];

				$scope.adiocionandoContatos = function (contato) {
					$scope.contatos.push(contato);
					delete $scope.contato;
				};
				$scope.apagarContatos = function (contatos){
					$scope.contatos = contatos.filter(function (contato){
						if (!contato.selecionado) return contato;
					});
				};
				$scope.isContatoSelecionado = function (contatos){
				return contatos.some(function(contato){
						return contato.selecionado;
					});
				};
			});
		</script>
	</head>
	<body ng-controller="listaTelefonicaCtrl">
		<div class="jumbotron">
			<h3 ng-bind="app"></h3>
			
			<table class="table table-striped">
				<tr>
					<th></th>
					<th class="text-center">Nome</th>
					<th class="text-center">Telefone</th>
					<th class="text-center">Operadora</th>
				</tr>
				<tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos">
					<td><input type="checkbox" ng-model="contato.selecionado"/></td>
					<td>{{contato.nome}}</td>
					<td>{{contato.telefone}}</td>
					<td>{{contato.operadora.nome}}</td>
				</tr>
			</table>
			<hr/>
			<input class="form-control" type="text" placeholder="Nome" ng-model="contato.nome"/>
			<input class="form-control" type="number" placeholder="Telefone" ng-model="contato.telefone"/>
			<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
				<option value="">Selecione uma operadora</option>
			</select>
			<button class="btn btn-primary btn-block" ng-click="adiocionandoContatos(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionando Contatos</button>
			<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagando Contatos</button>
		</div>

<!-- Thank you, Rodrigo Branas!  -->

	</body>
</html>